<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AM AM AM! - Catalog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding-top: 120px; /* Adjust top padding for the main content */
        }

        .navbar {
            background-color: rgba(165, 165, 165, 0.9); /* Semi-transparent white background */
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000; /* Ensure navbar stays above other content */
        }

        .navbar-brand img {
            max-height: 100px; /* Limit the logo height */
        }

        main {
            padding-top: 20px; /* Add additional padding to accommodate fixed header */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white border-danger box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/images/Logo.png" alt="Logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/images/cart.png" alt="Logo" /></a>
                        </li>
                        <!-- Add more navbar items as needed -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
 
</html>
